.navbar {
  background-color: #fff; /* Change background color to white */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* Space elements evenly */
  align-items: center; /* Align items vertically */
  position: fixed; /* Fix the navbar at the top */
  width: 100%; /* Ensure the navbar spans the entire width */
  z-index: 1000; /* Ensure the navbar appears above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.brand {
  display: flex;
  align-items: center; /* Align items vertically */
}

.brand-text {
    color: #333; /* Text color for brand (black) */
    font-size: 24px; /* Larger font size for brand */
    font-family: 'Montserrat (woff2)', sans-serif; /* Set font family to Inter, sans-serif */
    transition: color 0.4s ease, font-size 0.2s ease;/* Smooth transition for color change */
    color: #fac74f;
}

.brand-text:hover {
     /* Text color for brand on hover (#7666ca) */
    font-size: 28px; 
}


.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center align navigation links */
  flex-grow: 1; /* Allow navigation links to grow and fill remaining space */
}

.nav-links li {
  margin-left: 20px; /* Add margin to space out links */
  position: relative; /* Add relative positioning for pseudo-element */
}

.nav-links li a {
  color: #333; /* Change text color to dark */
  text-decoration: none;
  position: relative; /* Add relative positioning for underline effect */
  font-family: "Inter", sans-serif;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; /* Adjust the distance of the underline */
  width: 0; /* Start with zero width */
  height: 2px;
  background-color: #fac74f; /* Initial underline color */
  transition: width 0.5s ease; /* Slow down the width transition */
}

.nav-links li a:hover {
  color: #fac74f; /* Change text color to match the line color on hover */
}

.nav-links li a:hover::before {
  width: 100%; /* Draw the line to full width on hover */
}

.login-button {
  background-color: #fac74f; /* Set background color */
  color: #fff; /* Set text color */
  border: none; /* Remove border */
  border-radius: 15px; /* Make it round */
  padding: 10px 20px; /* Adjust padding */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-family: "Inter", sans-serif; /* Set font family */
}

