.navbar {
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 0%;
  left: 0%;
  top: 0%;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.brand {
  display: flex;
  align-items: center;
}

.brand-text {
  color: #333;
  font-size: 24px;
  font-family: 'Montserrat (woff2)', sans-serif;
  transition: color 0.4s ease, font-size 0.2s ease;
  color: #fac74f;
}

.brand-text:hover {
  font-size: 28px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-links li {
  margin-left: 20px;
  position: relative;
}

.nav-links li a {
  color: #333;
  text-decoration: none;
  position: relative;
  font-family: "Inter", sans-serif;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #fac74f;
  transition: width 0.5s ease;
}

.nav-links li a:hover {
  color: #fac74f;
}

.nav-links li a:hover::before {
  width: 100%;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notification-button, .login-button {
  font-size: 20px;
  color: #333;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.notification-button:hover, .login-button:hover {
  color: #fac74f;
}

.login-button {
  background-color: #fac74f;
  color: #fff;
  border-radius: 15px;
  padding: 10px 20px;
  font-family: "Inter", sans-serif;
}
